<!-- chat/templates/chat/room.html -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>Chat Room</title>
    {% load static %}

<link rel="stylesheet" href="{% static 'chat/style.css' %}">
</head>
<body>
    <div id="main-wrapper">
        <textarea id="chat-log" readonly></textarea><br>
        <input id="chat-message-input" type="text">
        <input id="chat-message-submit" type="button" value="Send">
    </div>

    <div id="username-box" >
        <div class="form__group field">
            <input type="input" class="form__field" placeholder="Name">
            <label for="name" class="form__label">Username:</label>
        </div>
        <input id="username-box-submit" type="button" value="Send">
    </div>
    <script>

        const chatSocket = new WebSocket(
            'ws://'
            + window.location.host
            + '/ws/chat/'
        );

        chatSocket.onmessage = function(e) {
            const data = JSON.parse(e.data);
            document.querySelector('#chat-log').value += (data.message + '\n');
        };

        chatSocket.onclose = function(e) {
            console.error('Chat socket closed unexpectedly');
        };
        var usernmame; //Should it be done like this?
        document.querySelector('#username-box-submit').onclick = function(e) {
            const usernameInputDom = document.querySelector('.form__field');
            username = usernameInputDom.value;
            chatSocket.send(JSON.stringify({
                'username': username,
                'message': ""
            }));
            usernameInputDom.value = '';
            const usernameBox = document.querySelector('#username-box');
            usernameBox.remove();
        };


        document.querySelector('#chat-message-input').focus();
        document.querySelector('#chat-message-input').onkeyup = function(e) {
            if (e.key === 'Enter') {  // enter, return
                document.querySelector('#chat-message-submit').click();
            }
        };

        document.querySelector('#chat-message-submit').onclick = function(e) {
            const messageInputDom = document.querySelector('#chat-message-input');
            const message = messageInputDom.value;
            chatSocket.send(JSON.stringify({
                'message': message,
                'username': username
            }));
            messageInputDom.value = '';
        };
    </script>
</body>
</html>